
    <body>
    
        <main>
    
            <section>
                <h2>{{starships.name}}</h2>
            </section>
    
            <section>
                <p><b>Model:</b>{{starships.model}}</p>
            </section>
    
            <section>
                <p><b>Manufacturer:</b> {{starships.manufacturer}}</p>
            </section>
    
            <section>
                <p><b>Crew:</b> {{starships.crew}} persons</p>
                
            </section>
    

    
    
        </main>


    
    </body>
    


<button routerLink="/listado">Listado</button>
