<html>
    <div class="background-logo"><img class="logo" src="../assets/img/logo.png"></div>
<body>
    
    <main>

        <section>
            NEWS + BLOG
        </section>

        <section>
            VIDEO
        </section>

        <section>
            SERIES
        </section>

        <section>
            INTERACTIVE
        </section>

        <section>
            COMMUNITY
        </section>

        <section>
            DATABANK
        </section>




    </main>



</body>



<router-outlet></router-outlet>

</html>