<div *ngFor="let starship of starships">
<body>

    <main>

        <section>
            <h2>{{starship.name}}</h2>
        </section>

        <section>
            <p><b>Model:</b> {{starship.model}}</p>
        </section>

        <section>
            <p><b>Manufacturer:</b> {{starship.manufacturer}}</p>
        </section>

        <section>
            <p><b>Crew:</b> {{starship.crew}} persons</p>
            <button routerLink="/detalle/{{starship.name}}">Detalle</button>
        </section>

    </main>

</body>

</div>

<button (click)="getData()">Obtener más Datos</button>

